# --- Frontend (Angular) ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/npm-debug.log
frontend/yarn-error.log

# --- Backend (PHP / Composer) ---
backend/vendor/
backend/composer.phar

# --- Système & IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log